backend/services/stepfunctions-service/state-machines/order-workflow.asl.json
{
  "Comment": "Order Workflow - Fridays Perú - Completo",
  "StartAt": "SaveOrderInput",
  "States": {
    "SaveOrderInput": {
      "Type": "Pass",
      "ResultPath": "$.orderInput",
      "Next": "NotifyOrderCreated"
    },
    "NotifyOrderCreated": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Parameters": {
        "Entries": [
          {
            "Source": "fridays.orders",
            "DetailType": "OrderCreated",
            "Detail": {
              "orderId.$": "$.orderId",
              "tenant_id.$": "$.tenant_id",
              "userId.$": "$.userId",
              "status": "CREATED",
              "total.$": "$.total",
              "timestamp.$": "$.timestamp"
            },
            "EventBusName": "fridays-event-bus-dev"
          }
        ]
      },
      "ResultPath": "$.notifyResult",
      "Next": "SendOrderToSQS",
      "Catch": [
        { "ErrorEquals": ["States.ALL"], "Next": "NotificationFailed" }
      ]
    },
    "SendOrderToSQS": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/085179068256/fridays-order-queue-dev.fifo",
        "MessageBody.$": "$.orderInput",
        "MessageGroupId.$": "$.orderInput.tenant_id"
      },
      "End": true
    },
    "NotificationFailed": {
      "Type": "Pass",
      "Result": "Failed to send notification, but order was created",
      "End": true
    }
  }
}
